<div id="slider-wrapper">
    <div class="inner-wrapper">
      <input checked type="radio" name="slide" class="control" id="Slide1" />
      <label for="Slide1" id="s1"></label>
      <input type="radio" name="slide" class="control" id="Slide2" />
      <label for="Slide2" id="s2"></label>
      <input type="radio" name="slide" class="control" id="Slide3" />
      <label for="Slide3" id="s3"></label>
      <input type="radio" name="slide" class="control" id="Slide4" />
      <label for="Slide4" id="s4"></label>

      <div class="overflow-wrapper">
        <a class="slide" href=""><img src="assets\4db032a5-94fe-4dae-99b6-af598d145640-tyc.jpg" /></a>
        <a class="slide" href=""><img src="assets\18e871ee-34db-47c1-99be-cb261bab8b29-ders-degerlendirme-anketi-2024-banner.jpg" /></a>
        <a class="slide" href=""><img src="assets\89420640-acac-41b6-b11f-bee546d4195e-en-iyi-30.jpg" /></a>
        <a class="slide" href=""><img src="assets\e0db01a2-e980-4231-a9f5-d9e78c9aa95a-qs-world-university-rankings-2025-banner.jpg" /></a>
      </div>
    </div>
  </div>