<app-menu></app-menu>
<div class="card">
  <a class="signup">Log İn</a>
  
  <div class="inputBox1">
    <input type="text" required="required" [(ngModel)]="formData.email">
    <span class="user">Email</span>
  </div>

  <div class="inputBox">
    <input type="password" required="required" [(ngModel)]="formData.password">
    <span>Password</span>
  </div>

  <button class="enter" (click)="login()">Log in</button>

  <div *ngIf="errorMessage != null" class="error">{{ errorMessage }}</div>
</div>