  

  
  
  
  <div class="l-container">
    <div class="etkinlikler">
      <div class="etkinlikler_card"  ><img src="assets\4db032a5-94fe-4dae-99b6-af598d145640-tyc.jpg" /> </div>
    </div>
    <div class="etkinlikler">
      <div class="etkinlikler_card"  ><img src="assets\4db032a5-94fe-4dae-99b6-af598d145640-tyc.jpg" /></div>
    </div>
    <div class="etkinlikler">
      <div class="etkinlikler_card" > <img src="assets\4db032a5-94fe-4dae-99b6-af598d145640-tyc.jpg" /></div>
    </div>
    <div class="etkinlikler">
      <div class="etkinlikler_card" > <img src="assets\4db032a5-94fe-4dae-99b6-af598d145640-tyc.jpg" />   </div>
    </div>
  </div>
  
  <div id="buttonetkinlikler">
    <button id="etkinliklerbtn">Tüm etkinlikler</button>
  </div>
  