<nav id="primary_nav_wrap">
   
  <div class="container">
    <router-outlet></router-outlet>
</div>
    <ul>
        <li id="logo"><img src="assets/logo_dark.png" alt="Gazi Logo"></li>
        <li><a routerLink="/anasayfa">Ana Sayfa</a></li>  
      <li><a href="#">Hakkında</a>
        <ul>
          
          <li><a href="#">Gazi teknopark hakkında</a></li>
          <li><a href="#">Destek ve teşvikler</a></li>
          <li><a href="#">Organizasyon şeması</a></li>
          <li><a href="#">Ekibimiz</a>  </li>
          
        </ul>
      </li>
    <li><a href="#"> Firmalarımız</a>  </li>
    <li><a href="#"> BIGG Anahtar  </a></li>
    <li><a href="#"> Firma başvurusu </a></li>
    <li><a href="#"> Staj başvurusu </a></li>
    <li><a routerLink="/login">Login</a></li>
    <li id="argeportal"> <img src="assets/argeportalLogo.png" style="height: 23px; width: 121px; background: white;" alt="argeportal" srcset="" ></li>

       
      
    </ul>
    </nav>
    