


<div class="haberler-div">
    <!-- Her bir resim için kart şeklinde bir link -->
    <a class="haberler" href="#">
      <img src="assets\sine-haber.png" alt="Resim 1">
    </a>
    <a class="haberler" href="#">
      <img src="assets\Gazi-Teknopark-Ilk-Yurtdisi-Irtibat-Ofisini-Aciyor!.png" alt="Resim 2">
    </a>
    <a class="haberler" href="#">
      <img src="assets\milli-teknoloji_haberler.jpg" alt="Resim 3">
    </a>
    <a class="haberler" href="#">
      <img src=" assets\tübütah-haber.png" alt="Resim 4">
    </a>
  
   
  </div> 
 <div id="buttonhaber">    <button class="btn-custom">Tüm Haberler</button>  </div> 