<div class="firmalarustdiv">
    <div class="logo-container">
        <img src="assets/firmalogo.png" alt="Logo 1" class="logo">
        <div class="info">
            <div class="number">139</div>
            <div><h5>Firma</h5></div>
        </div>
    </div>
    <div class="logo-container">
        <img src="assets/users-alt.png" alt="Logo 2" class="logo">
        <div class="info">
            <div class="number">1026</div>
            <div><h5>Çalışan Sayısı</h5></div>
        </div>
    </div>
    <div class="logo-container">
        <img src="assets/document.png" alt="Logo 3" class="logo">
        <div class="info">
            <div class="number">1538</div>
            <div><h5>AR-GE Projesi</h5></div>
        </div>
    </div>
</div>